body{
	background-color: #edc236;
}

.button{
	border:none;
	border-radius:16px;
	opacity: 0.5;
	display:inline-block;
	outline:0;
	padding:6px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	background-color:#000;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}